@tailwind base;
@tailwind components;
@tailwind utilities;

span[aria-current="page"] span {
    background-color: #3d68ff;
    color: #ffffff;
}

.product_image {
    max-width: 300px;
    max-height: 300px;
}
